<launch>
  <arg name="M4_speed"             default="0.15"/>
  <arg name="M4_turn_gain_lane"    default="0.005"/>
  <arg name="M4_turn_gain_cone"    default="0.008"/>

  <node pkg="limo_mission" 
        type="mission4_light.py" 
        name="mission4_light_node" 
        output="screen">

    <param name="speed"             value="$(arg M4_speed)"/>
    <param name="turn_gain_lane"    value="$(arg M4_turn_gain_lane)"/>
    <param name="turn_gain_cone"    value="$(arg M4_turn_gain_cone)"/>
  </node>
</launch>
